$sedan-color: #e28625;
$suv-color: #006971;
$luxury-color: #004140;

html {
  width: 920px;
  height: 500px;
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  h1 {
    color: #f2f2f2;
    font-family: "Big Shoulders Display", cursive;
    font-size: 40px;
    font-weight: bold;
    line-height: auto;
    text-align: left;
    text-transform: uppercase;
  }
  p {
    color: #ffffff;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-align: left;
    font-weight: 400;
  }
  button {
    width: 146px;
    height: 48px;
    border: none;
    border: 2px solid white;
    border-radius: 30px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15;
    line-height: 25px;
    text-transform: capitalize;
  }
}
body {
  padding: 0;
  margin: 0;
}

.container {
  width: 920px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: $sedan-color;

  align-items: left;
  border-radius: 0 8px 8px 0;

  .sedan {
    padding-top: 48px;
    padding-right: 69px;
    padding-left: 47px;
    background: $sedan-color;

    border-radius: 8px 0 0 8px;

    button {
      color: $sedan-color;
      margin-top: 82px;
    }
  }
  .suvs {
    padding-top: 48px;
    padding-right: 53px;
    padding-left: 47px;
    background: $suv-color;
    border-radius: 8px;

    button {
      color: $suv-color;
      margin-top: 82px;
    }
  }
  .luxury {
    padding-top: 48px;
    padding-right: 52px;
    padding-left: 47px;
    background: $luxury-color;
    border-radius: 0 8px 8px 0;

    button {
      color: $luxury-color;
      margin-top: 82px;
    }
  }
}
